server:
  servlet:
    context-path: /
  port: ${SERV_PORT:8000}

management:
  server:
    port: 9090
  endpoints:
    web:
      base-path: /
      exposure:
        include: health,prometheus

spring:
  liquibase:
    enabled: false
  application:
    name: arch-demo-k8s

app:
  healthCheckMsg: ${HEALTH_MSG:OK}